[submodule "progs"]
	path = progs
	url = https://github.com/TeamForbiddenLLC/asprogs
[submodule "glsl"]
	path = glsl
	url = https://github.com/TeamForbiddenLLC/glsl
[submodule "huds"]
	path = huds
	url = https://github.com/TeamForbiddenLLC/huds
